

.line-height-15{
	line-height: 15px !important;
}

.cc-collapse-sidebar{
	padding-right: 20px;
}

.cc-collapse-sidebar:after{
	font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}

.cc-collapse-sidebar.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}

#nav {
	background: #e0e0e0;
	border-bottom: 1px solid #d0d0d0;
}

.jsontree_bg{
	background-color: #f9f9f9; 
}