<!DOCTYPE html>
<html lang="en">
{% load custom_tags %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Api Testing Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Api Testing Tools
                    </a>
                </li>
                <li class="text-info line-height-15">
                    Selected Server: 
                </li>
                <li>
                    <select class="custom-select custom-select-sm col-md-10" id="servers">
                      <option selected value="{{ default_domain.url }}">{{ default_domain.name }}</option>
                      {% for domain in domains %}
                        <option value="{{domain.url}}">{{ domain.name }}</option>
                      {% endfor %}
                    </select>
                </li>

                <li class="mt-4">
                   <a href="#" onclick="customRequest();"> Custom Request </a>
                </li>

                <li class="text-info mt-4 line-height-15">
                    CC Request List
                </li>
                {% for model in urls %}
                    {% for key, value in model.items %}
                    <li class="cc-request-parent mt-2">
                        <a href="#" data-toggle="collapse" data-target="#{{key}}" aria-expanded="true" aria-controls="collapseOne" class="cc-collapse-sidebar collapsed">{{ key|title}}</a>
                        <ul id="{{key}}" class="collapse cc-sublist">
                            {% for v in value %}
                                <li><a href="#" onclick="changeData(this, '{{key}}', '{{v|serializeUrl}}');">{{ v }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Api Request Form</h1>

                <h4 class="mt-5" id="main-heading">Custom Request Form</h4>
                <form class="mt-3 col-md-10 ml-1" method="post" name="apicall" target="_blank">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" id="request_id" value="">
                    <div class="input-group mb-5">
                        <div class="input-group-prepend">
                            <select class="custom-select" id="request-type" name="request-type">
                                {% for type in request_type_choices %}
                                    <option value="{{type}}">{{ type|title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="text" class="form-control" id="request-input" value="{{ default_domain.url }}" name="url">
                        <div class="input-group-append">
                            
                            <span class="btn btn-primary" onclick="addEmptyParameterFields();">Add Params</span>
                            </div>
                        <div id="parameters" class="input-group"></div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary float-right ml-3" id="load_json" data-toggle="modal" data-target="#load_json_modal">Use copied json  <i class="fa fa-plus"></i></button>
                        <button class="btn btn-primary float-right" type="submit">Send <i class="fa fa-paper-plane"></i></button>
                    </div>
                </form>
               
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <div class="modal fade" id="load_json_modal" tabindex="-1" role="dialog" aria-labelledby="load_json_modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Load Json</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="jsontoload" id="jsontoload" >{
            "url":xyz.com,
            "params": {},
            "type": "get"
           }</textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="load_json_submit">Load Json</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>

    var default_domain_url = $(".custom-select").val();
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    function addEmptyParameterFields(){
        let k = String($("#parameters").find(".form-row").length + 1);
        let html='<div class="form-row input-group mb-3 mt-1">\
                        <div class="col">\
                          <input type="text" class="form-control" placeholder="Key" name="key-'+k+'">\
                        </div>\
                        <div class="col">\
                          <input type="text" class="form-control" placeholder="value" name="value-'+k+'">\
                        </div>\
                        <div class="col">\
                          <button class="btn btn-danger" onclick="removeParams(this);"><i class="fa fa-times"></i></button>\
                        </div>\
                    </div>';

            $("#parameters").append(html);
    }

    function addParameterFields(key, value){
        let k = String($("#parameters").find(".form-row").length + 1);
        let html='<div class="form-row input-group mb-3 mt-1">\
                        <div class="col">\
                          <input type="text" class="form-control" name="key-'+k+'" placeholder="Key" value="'+key+'">\
                        </div>\
                        <div class="col">\
                          <input type="text" class="form-control" placeholder="value" name="value-'+k+'" value='+value+'>\
                        </div>\
                        <div class="col">\
                          <button class="btn btn-danger" onclick="removeParams(this);"><i class="fa fa-times"></i></button>\
                        </div>\
                    </div>';

            $("#parameters").append(html);
    }

    function removeParams(btn){
        $(btn).parent().parent().remove();
    }

    function changeData(link, name, value){
        $("#load_json").hide();
        var value = JSON.parse(value);
        $("#main-heading").html(value["name"] + " Request Form");
        $("#request-input").val(default_domain_url + value["url"]);
        $("#request-type").val(value["request_type"]);
        $("#request_id").val(value["id"]);
        $("#parameters").html("");
        for (var prop in value["params"]) {
            addParameterFields(prop, JSON.stringify(value["params"][prop]));
        }
    }

    $("#servers").on("change", function(){
        let newval = $(this).val();
        let url = $("#request-input").val()
        let new_url = url.replace(default_domain_url, newval);
        default_domain_url = newval;
        $("#request-input").val(new_url);
    });

    function customRequest(){
        $("#load_json").show();
        $("#main-heading").html("Custom Request Form");
        $("#request-input").val(default_domain_url);
        $("#request-type").val("get");
        $("#request_id").val("");
        $("#parameters").html("");
    }

    $("#load_json_submit").on("click", function(){
        var data = $("#exampleFormControlTextarea1").val();

        try{
            data = JSON.parse(data);
        }catch(err) {
            $("#exampleModalLongTitle").append("<p class='text-danger mb-2 mr-2 ml-2 mt-2'> Invalid Json. Not able to load</p>")
        }
        $("#request-input").val(data["url"]);
        $("#request-type").val(data["type"]);
        $("#parameters").html("");

        var params = data["params"];
        for (var prop in params) {
            addParameterFields(prop, params[prop]);
        }
    });
    </script>

</body>
</html>
