<!DOCTYPE html>
{% load custom_tags %}
<html>
<head>
    <title>Api Testing Tool</title>
    <meta charset="utf-8" />

    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/reset.css" rel="stylesheet" />
    <link href="/static/css/app.css" rel="stylesheet" />
    <link href="/static/css/jsonTree.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

</head>
<body> 

    <div class="container-fluid">
        <div class="row card mt-5 mb-5 mr-2 ml-2">

            <ul class="nav nav-pills mb-3 mt-3 mr-3 ml-3 " id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true">Request Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-feedback-tab" data-toggle="pill" href="#pills-feedback" role="tab" aria-controls="pills-feedback" aria-selected="false">Feeback</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-docs-tab" data-toggle="pill" href="#pills-docs" role="tab" aria-controls="pills-docs" aria-selected="false">Documentation</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                  <table class="table table-borderless">
                      <tbody>
                        <tr>
                          <td>Request Url</td>
                          <td>{{ request.url }}</td>
                        </tr>
                        <tr>
                          <td>Request user Group</td>
                          <td>{{ request.user.group }}</td>
                        </tr>
                        <tr>
                          <td>Request type</td>
                          <td>{{ request.type }}</td>
                        </tr>
                        <tr>
                          <td>Request Status</td>
                          <td>{{ request.status_code }}</td>
                        </tr>
                        <tr>
                          <td>Request Params</td>
                          <td>{{ request.params }}</td>
                        </tr>
                         <tr>
                            <input type="hidden" name="copytxt" id="copytxt" value="">
                          <td><button class="btn btn-primary" onclick="setClipboard();">Copy Request Data</button></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
              <div class="tab-pane fade" id="pills-feedback" role="tabpanel" aria-labelledby="pills-feedback-tab">
                  <form class="mt-2 mb-5 mr-5 ml-5" id="feedback" action="post">
                      {% csrf_token %}
                      <input type="hidden" name="response_id" value="{{response_id}}">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="feedback" id="inlineRadio1" value="good" checked>
                          <label class="form-check-label" for="inlineRadio1">Good</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="feedback" id="inlineRadio2" value="bad">
                          <label class="form-check-label" for="inlineRadio2">Bad</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="feedback" id="inlineRadio3" value="discuss">
                          <label class="form-check-label" for="inlineRadio3">Needs discussion</label>
                        </div>

                        <div class="form-group mt-4">
                            <label for="exampleFormControlTextarea1">More Information</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="information"></textarea>
                        </div>
                      <button type="submit" class="btn btn-primary">Save feedback</button>
                    </form>
              </div>
              <div class="tab-pane fade" id="pills-docs" role="tabpanel" aria-labelledby="pills-docs-tab">
                
                <form id="dcumentation">
                    {% csrf_token %}
                    <input type="hidden" name="url" value="{{ request.url }}">
                    <input type="hidden" name="type" value="{{ request.type }}">
                    <input type="hidden" name="user" value="{{ request.user.group }}">
                 <table class="table table-borderless">
                  <input type="hidden" name="request_id" value="{{ request.id }}" value="{% if docs %} {{docs.response}} {% endif %}">
                    <thead>
                        <tr>
                          <th>url</th>
                          <th>request type</th>
                          <th> user type </th>
                          <th>Response</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ request.url }}</td>
                          <td>{{ request.type }}</td>
                          <td> {{ request.user.group }}</td>
                          <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="response"></textarea></td>
                        </tr>
                         <tr>
                          <td><button class="btn btn-primary" type="submit">Save request to docs</button></td>
                        </tr>
                      </tbody>
                    </table>
                </form>

              </div>
            </div>

        </div>
        <div class="row card jsontree_bg mt-5 mb-5 mr-2 ml-2">
        <!-- Buttons -->
            
            <ul class="nav justify-content-end menu menu_level1 clearfix" id="nav">
                <li data-action="expand" class="menu__item nav-item">
                    <span class="menu__item-name nav-link">expand all</span>
                </li>
                <li data-action="collapse" class="menu__item nav-item">
                    <span class="menu__item-name nav-link">collapse all</span>
                </li>
                <li data-action="find_and_mark" class="menu__item nav-item">
                    <span class="menu__item-name nav-link">find and mark</span>
                </li>
                <li data-action="unmark_all" class="menu__item nav-item">
                    <span class="menu__item-name nav-link">unmark all</span>
                </li>
            </ul>
    
            <!-- json tree -->
            <div class="well mb-5 mt-5">
                <div id="wrapper">
                    <div id="tree"></div>
                </div>
            </div>


            <!-- Find nodes form -->
            <form id="find_nodes_form" class="form" data-header="Find nodes">
                <section>
                    <p>
                        <label>
                            <input type="radio" 
                                name="nodes_search_type" 
                                value="label" 
                                id="nodes_search_by_label"
                                checked="checked" />
                            By label name:
                        </label>
                    </p>
                    <input type="text" id="search_by_label_name" />
                </section>
                <section>
                    <p>
                        <label>
                            <input type="radio" 
                                name="nodes_search_type"
                                id="nodes_search_by_type" 
                                value="type" />
                            By value type:
                        </label>
                    </p>
                    <ul class="checkboxes">
                        <li>
                            <label>
                                <input type="checkbox" name="nodes_type" value="string" />
                                string
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="nodes_type" value="number" />
                                number
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="nodes_type" value="boolean" />
                                boolean
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="nodes_type" value="null" />
                                null
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="nodes_type" value="object" />
                                object
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="nodes_type" value="array" />
                                array
                            </label>
                        </li>
                    </ul>
                </section>
                <button id="find_button">Find and mark</button>
            </form>
        </div>
    </div>

    <script src="/static/js/App.js"></script>
    <script src="/static/js/jsonTree.js"></script>
    <script src="/static/js/jsonTreeViewer.js"></script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        var jsonObject = JSON.parse('{{ request.json | escapejs }}');
        
        jsonTreeViewer.parse(jsonObject);


    function setClipboard() {
        value = '{{params_json|escapejs}}';
        var tempInput = document.createElement("input");
        tempInput.style = "position: absolute; left: -1000px; top: -1000px";
        tempInput.value = value;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
    }


    $("#feedback").submit(function(e) {


    var form = $(this);

    $.ajax({
           type: "POST",
           url: "/feedback/",
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
               form.parent().prepend("<p class='text-success ml-2 mb-2 mt-2'>Feedback saved successfully</p>");
           }
         });

    e.preventDefault(); // avoid to execute the actual submit of the form.
    });

     $("#dcumentation").submit(function(e) {
    var form = $(this);

    $.ajax({
           type: "POST",
           url: "/docs/",
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
               form.parent().prepend("<p class='text-success ml-2 mb-2 mt-2'>Docs saved successfully</p>");
           }
         });

    e.preventDefault(); // avoid to execute the actual submit of the form.
    });

    </script>


</body>
</html>
